[submodule "frontend"]
	path = frontend
	url = https://github.com/D-D-ing/frontend.git
[submodule "phoenix-events-live"]
	path = phoenix-events-live
	url = https://github.com/D-D-ing/phoenix-events-live.git
